{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "extends": [
      "airbnb-base"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "max-len": ["error", { "code": 120 }],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": ["off", "unix"]
  }
}